body {
    background-color: #f2f2f2;
}

.header {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 45%;
    color: darkblue;
}

.container {
    margin-left: 8%;
    margin-top: 50px;
    width: 85%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-task {
    padding-left: 30px;
    width: 80%;
    height: 40px;
    border-width: 0px;
    border-radius: 10px;
    font-size: large;
}

.add-task-button {
    width: 14%;
    height: 35px;
    border-radius: 10px;
    border-color: black;
    background-color: deepskyblue;
}

.task-list {
    position: relative;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 6%;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    box-shadow: 0px 6px 1px #ccc;
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

.checkmark {
    border: solid rgb(63, 63, 174);
    border-width: 2px;
    position: absolute;
    top: 11px;
    left: 10px;
    border-radius: 20px;
    height: 15px;
    width: 15px;
    background-color: white;
}


input~.checkmark:hover {
    background-color: #ccc;
}


input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    left: 6px;
    top: 2px;
    width: 2px;
    height: 7px;
    border: solid rgb(63, 63, 174);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.display-text {
    display: block;
    padding-left: 50px;
    margin-top: 8px;
    font-size: 20px;
}

.fa-trash,
.fa-edit {
    display: block;
    position: absolute;
    margin-top: 10px;
    right: 20px;
    font-size: 20px;
}

.fa-edit {
    right: 50px;
}

.completed-header {
    display: inline-flex;
    margin-top: 15px;
    margin-left: 8%;
    list-style-type: none;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    box-shadow: 0px 3px 1px #ccc;
}

.completed-header-text {
    margin-top: 12px;
    margin-left: 15px;
    font-weight: 600;
}

.fa-angle-right,
.fa-angle-down {
    margin-top: 12px;
    margin-left: 10px;
}

#completedTaskList:first-child {
    margin-top: 0;
}

#completedBody {
    display: none;
}

#save-button {
    display: block;
    position: absolute;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-top: 8px;
    right: 40px;
    font-size: 20px;
    background-color: #2196F3;
    color: white;
    font-size: 15px;
}

.fa-times {
    display: block;
    position: absolute;
    border-radius: 5px;
    margin-top: 12px;
    right: 15px;
    font-size: 20px;
}